<html>
<body>
  <p>
    I seek experiences that push me to unknown limits, humble me, and shatter my comfort level, from scrubbing rugs with my Bedouin homestay family in Jordan to shipping features that delight the user. I'm driven by curiosity, excited by action, and have an evergrowing list of passions, hopes, and dreams.
  </p>
  <p>
    Technology products that help navigate our lives offline is my current interest. Most recently I've spent the last 3 years as a Product Manager on Twilio's Messaging team and 6 weeks in Bhutan as a pro-bono IT Consultant.
  </p>
  <p>
    Here's how I got there...
  </p>
  <p>
    My career began with New Sector's non-profit consulting fellowship until I recognized that the level of geekism and pace in tech was more suitable. I quickly transitioned to supporting Twilio users and developers as a Support Engineer. During this time, I took a brief break to focused on improving my technical chops by attending Dev Bootcamp.
  </p>
  <p>
    Once completed, I returned to Twilio and grew into a Product Manager. First by creating a new role, Product Specialist, where I prioritized bugs, wrote a ton of documentation, and even coded the company business line. Over time, I gained more responsibility shipping much larger products such as <a href="https://www.twilio.com/copilot">Copilot</a> and <a href="https://www.twilio.com/blog/2016/06/introducing-messaging-insights.html">Insights</a>, .
  </p>
  <p>
    Some of my happiest moments outside tech include:
  </p>
  <ul>
    <li>starting an organization that prepares taxes for low and middle income families in Maine</li>
    <li>cycling along the coast of California from SF to LA to raise AIDS awareness</li>
    <li>hiking between villages in the Himalayan mountains</li>
  </ul>
  <p>
    I'm a New Yorker at heart, raised in an American bubble in Taipei, Taiwan. Currently, I reside in San Francisco. Ask me to coffee and we can exchange life stories.
  </p>
</body>
</html>