<html>
<body>
<p>
I seek experiences that push me to unknown limits, humble me, and shatter my comfort level, from scrubbing rugs with my Bediuon homestay family in Jordan to hunting down software bugs and firefighting outages. I have a personality larger than my size and a list of passions, hopes and dreams longer than the Amazon River.
</p>
<p>
Some of my proudest moments include:
<ul>
<li>reinventing myself as a software engineer</li>
<li>starting an organization that prepares taxes for low/middle income families in Maine</li>
<li>cycling along the coast of California from SF to LA to raise AIDS awareness</li>
</ul>
</p>
<p>
Technology, coding and creatively creating magic with computers is my current focus. My weapon of choice include Ruby on Rails, Javascript/jQuery, and ActiveRecord.
</p>
<p>
My career began with New Sector's non-profit consulting fellowship, until I recognized that the level of geekism and pace in tech was more suitable. I quickly transitioned to supporting Twilio users and developers as a Support Engineer. During this time, I took a brief break to focused on improving my technical chops by attending Dev Bootcamp and am now back at Twilio for more action.
</p>
<p>
Ask me where I'm from and I will give a hesitant look as I gage your true interest to the answer. In short, I'm a New Yorker at heart, raised in an American bubble in Taipei, Taiwan.
</p>
<p>
Currently, I reside in San Francisco. The rest of my life story can shared over drinks.
</p>
</body>
</html>