/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

html, body {
  height: 100%;
  background-color: #EAEFF0;
}

body {
  font: 14px;
  font-family: 'Roboto Slab', serif;
  margin-left: 50px 0px;
  padding: 0px;
  text-align: center;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  color: #2c3d4f;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18pt;
}

h1 {
  margin-bottom: 0px;
  margin-top: 20px;
  line-height: 50px;
}

h3 {
  font-size: 12pt;
  margin: 0px auto;
}

p {
  margin-top: 1em 0;
  color: black;
}

a {
  text-decoration: none;
  color: #3CB874;
}

table {
  font-size: inherit;
  font: 100%;
}

footer {
  height: 50px;
}

/*****************************************************************************/
/*
/* Home
/*
/*************************************r****************************************/
.nav {
  margin-top: 5px;
  margin-bottom: 5px;
}

#icon-nav {
  margin-top: 10px;
  margin-bottom: 20px;
}

#icon-nav i {
  margin-right: 10px;
  color: #849eba;
}

.about {
  background-color: white;
  margin: 0px auto;
  text-align: left;
  opacity: 0.8;
  width: 720px;
  padding: 10px 45px 20px 45px;
}

ul#posts {
  list-style-type: none;
  background-color: white;
  margin: 0px auto;
  margin-top: 50px;
  text-align: left;
  opacity: 0.8;
  width: 720px;
  padding: 20px 45px;
}

#menu {
  margin-bottom: 25px;
}

h1:nth-of-type(2), h1:nth-of-type(3){
  margin-top: 100px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {

}

li.post{
  margin-bottom: 25px;
}

  /* standard */

  .post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  .post ul,
  .post ol {
    margin-left: 1.35em;
  }

  .post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    .post pre code {
      border: none;
    }

  /* terminal */

  .post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  .post pre.terminal code {
    background-color: #333;
  }

/*****************************************************************************/
/*
/* Projects
/*
/*****************************************************************************/
.project {
  background-color: white;
  margin: 0px auto;
  margin-bottom: 30px;
  text-align: left;
  opacity: 0.8;
  overflow:hidden;
  width: 69%;
  padding: 20px 45px 20px 45px;
}

.project span{
  display: block;
  width: 485px;
  float: right;
}

div.screenshot {
  display: inline-block;
  width: 450px;
}

#projects-nav{
  margin-bottom: 20px;
}
