<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Elaine Tsai" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />

  <!-- Icons -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Ubuntu:500,700|Roboto+Slab:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
<div class="header">
  <a href="/"><h1>Hi, I'm Elaine Tsai</h1></a>
</div>
<div class="nav">
  <a href="/">about</a> -
  <a href="/blog">blog</a> -
  <a href="/projects">projects </a> -
  <a href="https://www.dropbox.com/s/nwgzpv0iiwuexn9/Elaine_Tsai_Resume.pdf" target="_blank">resume
</div>

<div id="content">
   {{content}}
</div>

</body>
</html>

